*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo{
    width:450px ;
    height: 350px;
    background-color: aliceblue;
    border-radius: 20px;
    
    
}
h2{
    margin: 40px;
    color: rgb(100, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.input{
    display: flex;
 
    gap: 20px;
    margin: 30px;
}
.task{
    width: 250px;
    height: 30px;
    background-color: silver;
    border:none;
    border-radius: 30px;
}
#add-btn{
    background: rgb(194, 23, 58);
    border: none;
    width: 80px;
    border-radius: 40px;
    cursor: pointer;
}