*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100%;
    background-color: #e0e5ec;
    

}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.form{
    width: 300px;
    height: 400px;
    border: none;
    border-radius: 30px;
    padding:20px;
    background: whitesmoke;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    
    
}
#profile{
    width: 170px;
    height: 150px;
    background-color: wheat;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    
}
#btn{
    background: crimson;
    border: none;
    border-radius: 20px;
    width: 60px;
    height: 40px;
    margin-left: 20px;
}
#username{
    border-radius: 30px;
    border: none;
    background-color: rgb(163, 158, 152);
    width: 150px;
    height: 30px;

}
#text{
    margin: 30px;
    width: 200px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    background: whitesmoke;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    

    
}


#botn{
    background: red;
    margin-top: 10px;
    width: 70px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
}