*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #153677, #4e085f);
    height: 100vh;
    width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.wrapper{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    

}
form{
    display: flex;
    justify-content: center;
   gap: 10px;
    margin: 5px;
    padding: 20px;
}
#bookName{
  border: none;
  border-radius:30px;
  width: 400px;
  height: 35px; 
  background: linear-gradient(135deg, #153677, #4e085f);
  color: antiquewhite;
  font-size:15px;
  font-weight: bolder;
  
}
#authorName{
   border: none;
  border-radius:30px;
  width: 400px;
  height: 35px; 
  background: linear-gradient(135deg, #153677, #4e085f);
  color: antiquewhite;
  font-size:15px;
  font-weight: bolder;
  
}
#btn{
    border-radius: 30px;
    border: none;
    background:#f51f1f;
    width:75px;
    color: antiquewhite;
    font-style: italic;
    box-shadow: #957b7b;
    padding: 5px;
    font-weight: bolder;
    cursor: pointer;
}
.title{
    display: flex;
   justify-content: center;
   font-weight: bolder;
   font-size: 15px;
   font-style: oblique;


}

#bookContainer {
  margin-top: 30px;
  padding: 15px;
  
}


#bookContainer ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 0;
}


.showUserList {
  height: 80px;
  width: 430px;
  display: flex;
  justify-content: space-between;
  
  background-color: lightblue;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;

}

.ShowAllUserBooksListHolderLeft {
  
}


 h2 {
  font-size: 18px;
  margin: 0;
  color: #222;
}


 h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}





#ShowAllUserBooksListHolderDeleteButton {
  background-color: crimson;
  color: white;
  border: none;
  padding: 8px 14px;
 
  cursor: pointer;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 40px;
  border-radius: 30px;
}

