/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background:linear-gradient(rgb(233, 233, 135), rgb(240, 149, 12));
    
}
#slide{
    margin: 7px;
    width: 850px;
    height: 450px;
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px;
    
img{
width: 850px;
    height: 450px;
    border-radius: 50px;
}

}
#next{
    border-radius: 50px;
    width: 60px;
    height: 30px;
    border: none;
    background:linear-gradient(yellow, rgb(190, 167, 123));
    font-weight: bold;

}
#previous{
    border-radius: 50px;
    width: 70px;
    height: 30px;
    border: none;
    background:linear-gradient(yellow, rgb(190, 167, 123));
    font-weight: bold;
    
}
/* #next:hover{
    background:wheat;
}
#previous:hover{
    background:wheat;
} */
/* #next:active{
    background: rgb(239, 239, 176)
}
#previous:active{
    background: rgb(239, 239, 176)
}
.btn-box{
    display: flex;
      gap: 60px;
    align-items: center;
    margin-bottom: 40px;
  
    
} */ */
