*{
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: whitesmoke;
  
  margin-top: 30px;
  background: linear-gradient(white,black);
}

#cowry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

#cowry img {
  width:700px;
  height: 400px;

}

button {
  padding: 10px 20px;
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  
}

